.container {
  border-bottom: 1px solid #eee;
  color: var(--text-black);
  padding-top: 10rem;
}

.energySolutions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 0;
  gap: 6.4rem;
}

@media (max-width: 64em) {
  .energySolutions {
    grid-template-columns: repeat(1, 1fr);
    max-width: 0;
  }
}
