.container {
  border-bottom: 1px solid #eee;
  color: var(--text-black);
}

.energySolutions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 12.4rem 0;
  gap: 6.4rem;
}
