.container {
  background-color: #1e6091;
  padding-top: 8rem;
  padding-bottom: 6rem;
}
.containerWrapper {
  margin: 0 auto;
  max-width: 120rem;
}

.installationSteps {
  display: grid; /* Ustawienie rodzica jako siatka CSS */
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  max-width: 120rem;
  padding: 5.4rem 0;
  flex-grow: 1;
}

.installationStepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.installationStepNumbers {
  background-color: var(--pale-green);
  border-radius: 50%;
  padding: 0.6rem;
  height: 8rem;
  width: 8rem;
  padding: 2.1rem 0;
  margin-bottom: 1rem;
}

.installationStepNumbersText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.7s ease 0.5s;
}

.installationStepsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.installationStepsHeaderInfo {
  font-size: 1.4rem;
  text-align: center;
}

.moduleHeader {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.8rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.StepNumbersParagraph {
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 300;
}

@media (max-width: 64em) {
  .installationSteps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
