.moduleHeader {
  line-height: 1.3;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 2.9rem;
  font-weight: 700;
  margin-bottom: 2.9rem;
}

.installationStepsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.moduleHeaderWrapper {
  position: relative;
}

.moduleHeaderWrapper:before,
.moduleHeaderWrapper:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--pale-green);
  z-index: 2;
}

.moduleHeaderWrapper:before {
  top: -25px;
  left: -25px;
  border-width: 2px 0 0 2px;
}

.moduleHeaderWrapper:after {
  bottom: 0px;
  right: -25px;
  border-width: 0 2px 2px 0;
}

.moduleHeaderDescription {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 300;
  text-align: center;
  padding-top: 1.6rem;
}

@media (max-width: 64em) {
  .moduleHeader {
    font-size: 4rem;
  }

  .moduleHeaderWrapper:before {
    top: -15px;
    left: 50px;
  }

  .moduleHeaderWrapper:after {
    bottom: 15px;
    right: 50px;
  }

  .moduleHeaderDescription {
    font-size: 2.1rem;
  }
}

@media (max-width: 48em) {
  .moduleHeader {
    font-size: 3.2rem;
    max-width: 75%;
    margin: 0 auto 6rem;
  }
}
