.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.5s linear;
  backdrop-filter: blur(10px);
}

.modalHeadingPompy {
  position: relative;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--pale-green);
}

.modalHeadingFotowoltaika {
  position: relative;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--pale-green);
}

.modalHeadingKlimatyzacja {
  position: relative;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--pale-green);
}

.modalInformation {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-right: 5.5rem;
}

.modalDescription {
  line-height: 1.9em;
  font-weight: 500;
  font-size: 1.6rem;
  padding-top: 4rem;
}

.modalImage {
  width: 45rem;
  object-fit: cover;
}

.buttonClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
}

.popupContent {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 6rem;
  width: 75%;
  height: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.modalOpen {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.modalClose {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.modalHeadingPompy:before,
.modalHeadingPompy:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--pale-green);
  z-index: 2;
}

.modalHeadingPompy:before {
  top: -5%; /* Adjust as needed */
  left: -1%; /* Adjust as needed */
  border-width: 2px 0 0 2px;
}

.modalHeadingPompy:after {
  bottom: 25%; /* Adjust as needed */
  right: -1%; /* Adjust as needed */
  border-width: 0 2px 2px 0;
}

.modalHeadingFotowoltaika:before,
.modalHeadingFotowoltaika:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--pale-green);
  z-index: 2;
}

.modalHeadingFotowoltaika:before {
  top: -5%; /* Adjust as needed */
  left: -1%; /* Adjust as needed */
  border-width: 2px 0 0 2px;
}

.modalHeadingFotowoltaika:after {
  bottom: 25%; /* Adjust as needed */
  right: -1%; /* Adjust as needed */
  border-width: 0 2px 2px 0;
}

.modalHeadingKlimatyzacja:before,
.modalHeadingKlimatyzacja:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--pale-green);
  z-index: 2;
}
.modalHeadingKlimatyzacja:before {
  top: -5%; /* Adjust as needed */
  left: -1%; /* Adjust as needed */
  border-width: 2px 0 0 2px;
}

.modalHeadingKlimatyzacja:after {
  bottom: 25%; /* Adjust as needed */
  right: -1%; /* Adjust as needed */
  border-width: 0 2px 2px 0;
}
