.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.5s linear;
}

.popupContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  width: 100%;
  height: 20rem;
  max-width: 64rem;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  animation: popupOpen 0.3s forwards;
}

.buttonClose {
  width: 5rem;
  height: 5rem;
}

.popupContent {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 6rem;
  width: 100%;
  height: 20rem;
  width: 20rem;
  max-width: 64rem;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  animation: popupOpen 0.3s forwards;
}

.modalOpen {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.modalClose {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

@keyframes popupOpen {
  0% {
    transform: scale(0.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popupClose {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.25);
    opacity: 0;
  }
}
