.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.slideTitle:before,
.slideTitle:after,
.slideMainTitle:before,
.slideMainTitle:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid var(--pale-green);
  z-index: 2;
}

.slideTitle:before {
  top: -15px;
  left: -60px;
  border-width: 2px 0 0 2px;
}

.slideTitle:after {
  top: -15px;
  right: -60px;
  border-width: 2px 2px 0 0;
}

.slideTitle {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}

.slideMainTitle {
  font-size: 60px;
  font-weight: 700;
  line-height: 8rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slideInformation {
  max-width: 70rem;

  line-height: 30px;

  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
