.container {
  border-bottom: 1px solid #eee;
  color: var(--text-black);
}

.aboutUs {
  display: flex;
  justify-content: space-around;
  max-width: 120rem;
  margin: 0 auto;
  padding: 12.4rem 0;
  gap: 3rem;
}

@media (max-width: 64em) {
  .aboutUs {
    flex-direction: column;
    height: 150rem;
    max-width: 108rem;
    padding-bottom: 0;
    flex: 0;
  }
}

@media (max-width: 48em) {
  .aboutUs {
    height: auto;
    gap: 8rem;
  }
}
