.container {
  border-bottom: 1px solid #eee;
  color: var(--text-black);
}

.aboutUs {
  display: flex;
  justify-content: space-around;
  max-width: 120rem;
  margin: 0 auto;
  padding: 12.4rem 0;
  gap: 3rem;
}

.Composition {
  flex: 1;
  position: relative;
  margin-right: 4.8rem;
}

.CompositionContact {
  position: absolute;
  background-color: var(--pale-green);
  left: 0;
  top: 46rem;
  padding: 1.4rem;
  width: 23rem;
  font-size: 1.4rem;
  color: var(--text-white);
  font-weight: 700;
  text-transform: uppercase;
}

.CompositionContact:focus {
  box-shadow: 0 0 0 0.3rem black;
  border-radius: 2px;
  outline: none;
}

.CompositionImage1 {
  position: absolute;
  left: 0;
  top: -2rem;
  width: 46rem;
  height: 48rem;
}

.CompositionImage2 {
  position: absolute;
  right: 0;
  top: 14rem;
  width: 36rem;
  height: 40rem;
}

.CompositionText {
  flex: 1;
  line-height: 1.7em;
  font-weight: 500;
  font-size: 1.6rem;
}
.CompositionTextParagraph {
  color: var(--pale-green);
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.CompositionTextHeader {
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 2.9rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.CompositionTextEntry {
  margin-bottom: 1.6rem;
}

.CompositionTextSecondHeader {
  margin-bottom: 1.6rem;
}

.aboutUsTextColor {
  margin-top: 1rem;
  font-weight: 700;
}

.CompositionTextHeading {
  position: relative;
}

.CompositionTextHeading:before,
.CompositionTextHeading:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--pale-green);
  z-index: 2;
}

.CompositionTextHeading:before {
  top: -15px;
  left: -15px;
  border-width: 2px 0 0 2px;
}

.CompositionTextHeading:after {
  bottom: -15px;
  right: -25px;
  border-width: 0 2px 2px 0;
}

@media (max-width: 76em) {
  .CompositionTextHeading:after {
    bottom: -15px;
    right: -5px;
    border-width: 0 2px 2px 0;
  }
}

@media (max-width: 64em) {
  .aboutUs {
    flex-direction: column;
    height: 150rem;
    max-width: 108rem;
    padding-bottom: 0;
    flex: 0;
  }

  .CompositionImage1 {
    left: 6rem;
    top: -6rem;
    width: 57.5rem;
    height: 60rem;
  }

  .CompositionImage2 {
    right: 6.7rem;
    top: 8.9rem;
    width: 45rem;
    height: 51rem;
  }

  .CompositionContact {
    position: absolute;
    left: 6rem;
    top: 54rem;
    padding: 1.4rem;
    width: 57.5rem;
    font-size: 2rem;
  }

  .Composition {
    margin: 0;
  }

  .CompositionTextHeader {
    font-size: 3rem;
  }

  .CompositionTextHeading {
    text-align: center;
  }

  .CompositionTextHeading:before {
    top: 0px;
    left: 50px;
  }

  .CompositionTextHeading:after {
    bottom: 0px;
    right: 50px;
  }
  .CompositionTextSecondHeader,
  .CompositionTextEntry {
    max-width: 95rem;
    margin: 0 auto;
  }
  .CompositionTextSecondHeader {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .CompositionTextHeader {
    margin-bottom: 8rem;
  }

  .CompositionTextEntry {
    font-size: 1.8rem;
  }

  .aboutUsTextColor {
    margin-top: 2rem;
  }
}
