.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5rem;
  color: var(--text-black);
}

.formContainer {
  flex-grow: 2;
  padding: 4rem 5rem 4rem 5rem;
}

.input {
  width: 100%;
  border: 2px solid var(--text-black);
  border-radius: 0.375rem;
  font-size: 1.4rem;
  padding: 1.6rem;
}

.inputTitle {
  font-size: 1.8rem;
  font-weight: 600;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
}
.inputError {
  font-size: 1.4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: rgb(220 38 38);
}

.inputMessage {
  width: 100%;
  border: 2px solid var(--text-black);
  border-radius: 0.375rem;
  font-size: 1.4rem;
  padding: 1.6rem;
  height: 18rem;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  color: var(--pale-green);
}

.header {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4rem;
  color: var(--text-black);
}

.error {
  color: red;
  border: 1px solid red;
}

.checkbox {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0.8rem;
  vertical-align: middle;
  background-color: grey;
}

.privacyPolicy {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--text-black);
  margin-top: 1rem;
}
